.DS_Store
.eclipse.buildship.core.prefs
.gradle/
.idea/
.kubernetes-manifests-*/
.project
.skaffold-*.yaml
.terraform.lock.hcl
.terraform/*
.venv/
.vs/
.vscode/
*.iml
*.ipr
*.iws
*.pyc
*.swp
*.tfstate*
*.tfvars
*~
bin/
build/
Dockerfile.pip
node_modules/
obj/
pkg/
release/wi-kubernetes-manifests.yaml
vendor/
# Python virtual environments
venv/
**/venv/
snyk-venv/
# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Backup files
*.bak

# Archives
*.tar.gz
*.zip
*.deb

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Snyk & scan logs
.snyk
*.log
*.json

# Test / temp scripts
*.sh
test.sh
tmp_*

**/venv/
**/venv/
*.pyc
__pycache__/
